// Smaller font for longer names
.portrait-title h2 {
  font-size: 1.5rem;
}

// Custom avatar size on homepage
.avatar {
  width: auto;
  height: auto;
  max-width: 225px;
  max-height: 225px;
}

// Prevent stretching on About page with narrow container
.wg-about .avatar {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

// Space around custom section in homepage
.home-section {
  padding: 1rem 0 1rem 0;
}

// Space around avatar
.home-section.wg-about-avatar {
  padding: 0 0 0 0;
}

// Reduce distance between contact icons and rest of text
#profile .network-icon {
  margin-top: 0.5rem;
}

// Reduce contact icon size
ul.network-icon .big-icon {
  font-size: 1.5rem;
}
